<link rel="stylesheet" href="/scss/chat.css" />

<main class="chat-container">
  <aside>
    <div class="sidebar">
      <img src="" alt="" class="personImg" />
      <p class="person-era"></p>
      <p class="person-knowledge-limit"></p>
    </div>
    <div class="sidebar-content">
      <button>New Chat</button>
      <button>Change Person</button>
    </div>
  </aside>

  <section class="chat-area">
    <header class="chat-header">
      <div class="persona-info">
        <img src="" alt="" class="small-persona-img" />
        <div class="persona-details">
          <h4 class="persona-details-name"></h4>
          <p class="persona-era-header"></p>
        </div>
      </div>
    </header>
    <div class="messages">
      <div class="message persona-message">
        <img src="" alt="" class="message-avatar" />
        <p class="message-bubble"></p>
      </div>
      <div class="message user-message">
        <p class="message-bubble"></p>
        <span class="user-avatar"></span>
      </div>
    </div>
    <div class="input-area">
      <input type="text" placeholder="Message..." />
      <button class="send-btn">Send <span class="button-icon">▶</span></button>
      <span class="mic-icon">🎤</span>
    </div>
  </section>
</main>
